<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon signup page</title>
    <link rel='stylesheet' href='../css/app.css'>
</head>
<body>
    <h1>Pokemon signup Form</h1>

    <form action = "/players" method="post">
        Name: <input type="text" name="name"><br>
        Username: <input type="text" name="username"><br>
        Password: <input type="text" name="password"><br>
        Team id: <input type="text" name="teamId"><br>
        <input type="submit" value="SignUp">
    </form>
</body>
</html>