<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Index</title>
    <link rel='stylesheet' href='./css/app.css'>
</head>

<body>
    <h1>Pokemon Index</h1>
    <a href="/pokemon/new">
        <button>
            Create New Pokemon
        </button>
    </a>
    <a href="/players/">
        <button>
            Player Page
        </button>
    </a>
    <ul class="pokemon">
        <% for(let i=0;i<pokemon.length;i++) { %>
            <li>
                <a href="/pokemon/<%=pokemon[i].id%>">
                    <%=pokemon[i].name%>
                </a>
            </li>
            <a href='/pokemon/<%=pokemon[i].id%>/edit'>Edit</a>
            <form action="/pokemon/<%=pokemon[i].id%>?_method=DELETE" method='POST'>    <!--form can't delete so need to use a method -->
                <input type="submit" value="Delete">
            </form>
            <% } %>
    </ul>
</body>

</html>