<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Show Page</title>
    <link rel='stylesheet' href='../css/app.css'>
</head>

<body>
    <h1>Pokemon Show Page</h1>
    <h2>
        <%=pokemon.name%>
    </h2>
    <img src="<%=pokemon.img%>" />
    <form action="/pokemon/<%=arrIndex%>?_method=DELETE" method='POST'>    <!--form can't delete so need to use a method -->
        <input type="submit" value="Delete">
    </form>
    
</body>

</html>